[*.vb]

# Naming Styles
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.S101.severity = none
dotnet_diagnostic.S117.severity = none
dotnet_diagnostic.S1542.severity = none
dotnet_diagnostic.S1654.severity = none
dotnet_diagnostic.S2304.severity = none
dotnet_diagnostic.S2347.severity = none
