<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.95.4" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.12.3" targetFramework="net461" />
  <package id="EpdIt.DbHelper" version="3.0.2" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net461" />
  <package id="FastMember" version="1.5.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="5.0.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.2.26" targetFramework="net461" developmentDependency="true" />
  <package id="Mindscape.Raygun4Net" version="5.13.0" targetFramework="net461" />
  <package id="MSCaptcha" version="1.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Reimers.Core" version="5.3.95.699" targetFramework="net462" />
  <package id="Reimers.Google.Map" version="5.3.95.699" targetFramework="net462" />
  <package id="SonarAnalyzer.VisualBasic" version="8.21.0.30542" targetFramework="net461" developmentDependency="true" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
</packages>