@media screen, projection {
    /* left column */
    .nav {
        width: 28%; /* % of inner-container width is ~same width as right column */
        float: left; /* left side of inner-container */
        margin: 0; /* keep flush with adjacent containers */
        padding: .1em 0 0 1%; /* space from window edge (IE messes up with margin, so use padding) */
        font-size: 80%;
        /*border: solid 1px black;*/
        background-color: #ffffff;
        font-family: Verdana,sans-serif;
    }

    /* center column */
    .content {
        width: 68%; /* % of inner-container width */
        float: right; /* right side of inner-container */
        padding: .2em 1%; /* some padding for readability */
        margin: 0; /* keep flush with adjacent containers */
        background-color: #ffffff; /* light blue color will show behind the center column */
        color: #000;
        font-family: Verdana,sans-serif;
        /*border-color: #999;      /* W3C CSS validation service get an erroneous */
        /*border-style: solid;     /*   parse error on border-right shorthand, */
        /*border-width: 0 1px;     /*   but not on individual properties */
        font-size: 85%;
    }

    /* full width content */
    .content-full {
        width: 96%; /* % of inner-container width */
        padding: 1em 2%; /* some padding for readability */
        margin: 0; /* keep flush with adjacent containers */
        background-color: #ffffff; /* light blue color will show behind the center column */
        color: #333;
        font-family: Verdana,sans-serif;
        font-size: 85%;
    }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000;
}

h1 {
    font-size: 175%;
    margin: .3em 0;
}

h2 {
    font-size: 125%;
    margin: .2em 0;
    color: Navy;
}

a:link {
    color: #0000EE;
    background-color: transparent;
}

a:visited {
    color: #551A8B;
    background-color: transparent;
}

a:hover, a:focus {
    color: #0066ee;
}

a:active {
    color: #EE0000;
}

/* page header, uses body colors */
div#header {
    clear: both;
    height: 100px;
    background: #01009A;
}

div#epdlogo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 95px;
    height: 101px;
}

div#apptitle {
    position: absolute;
    top: 15px;
    left: 140px;
}

div#usermenu {
    background: #01009A;
    color: #ffffff;
    font-size: 75%;
    font-family: Verdana,sans-serif;
}

div#userinfo {
    position: absolute;
    top: 100px;
    left: 150px;
    color: #ffffff;
    font-size: 75%;
    font-family: Verdana,sans-serif;
}

/* page footer, uses body colors */
.footer {
    clear: both; /* below all columns */
    width: 100%; /* full window width */
    margin: 0;
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 75%;
    color: #fff;
    text-align: center;
    background-color: #01009A;
    font-family: Verdana,sans-serif;
}

    .footer a {
        color: #ff7;
        text-decoration: none;
    }

        .footer a:hover,
        .footer a:focus {
            color: #ff3;
            text-decoration: underline;
        }

    .header p,
    .footer p {
        margin-bottom: 0; /* prevent gaps between divs in some browsers */
    }

/* container for the 3 columns */
.outer-container {
    width: 100%; /* full window width */
    margin: 0; /* keep flush with adjacent containers */
    background-color: #ffffff; /* violet color will show behind the right column */
    color: #000;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    font-family: Verdana,sans-serif;
}
/* container for just the left and center columns */
.inner-container {
    width: 98%; /* leaves 20% of window width for right column */
    float: left; /* left side of window */
    background-color: #ffffff; /* white color will show behind the left column */
    color: #000; /*   delete these colors to get same color as right column */
    margin: 0; /* keep flush with adjacent containers */
}
/* right column */
.sidebar {
    width: 15%; /* a little less than available 17% */
    float: right; /* right side of window */
    margin: 0; /* keep flush with adjacent containers */
    padding: .1em 1% .1em 0; /* some space from right window edge */
    font-size: 85%;
    background-color: #C0C0FF;
    font-family: Verdana,sans-serif;
}

.clear {
    clear: both;
    margin: 0; /* keep flush with adjacent containers */
    padding: 0;
    height: 0;
    overflow: hidden;
}

/* rules for WinIE only */
@media screen, projection {
    * html .clear {
        display: none; /* prevent excessive gap at div bottom in WinIE5 */
    }
}
/* end WinIE only rules */

/* print only rules (per request) */
@media print {
    .nav {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .content {
        float: left;
    }
}
/* end print only rules */

.Menu {
    text-align: center;
}

/* Left Menu Buttons */

.MenuButton {
    font-size: 11px;
    font-family: Verdana,sans-serif;
    font-weight: bold;
    color: #EEFFFF;
    width: auto;
    background-color: #0088DD;
    border-style: solid;
    border-color: #003377;
    border-width: 2px;
}

.DisabledMenuButton {
    font-size: 11px;
    font-family: Verdana,sans-serif;
    color: #EEFFFF;
    width: 150px;
    background-color: Gray;
    border-style: solid;
    border-color: #003377;
    border-width: 2px;
}

/*Labels for displaying non-editable information*/

.DisplayLabels {
    background-color: gainsboro;
    font-weight: bold;
    color: WindowText;
    font-family: Verdana,sans-serif;
}

/* Accordion */
.accordionHeader {
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-family: Verdana,sans-serif;
}

    .accordionHeader a {
        color: #FFFFFF;
        background: none;
        text-decoration: none;
    }

        .accordionHeader a:hover {
            background: none;
            text-decoration: underline;
        }

.accordionContent {
    background-color: #D3DEEF;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
    font-family: Verdana,sans-serif;
}

/*CollapsiblePanel*/
.collapsePanel {
    background-color: white;
    overflow: hidden;
    font-family: Verdana,sans-serif;
}

.collapsePanelHeader {
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    background-image: url(../images/bg-menu-main.png);
    background-repeat: repeat-x;
    font-family: Verdana,sans-serif;
}

/*Hover Menu*/
.popupMenu {
    position: absolute;
    visibility: hidden;
    background-color: #F5F7F8;
    opacity: .9;
    filter: alpha(opacity=90);
}

.popupHover {
    background-image: url(../images/header-opened.png);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #F5F7F8;
}

/* PagingBulletedList */
.selectIndex {
    font-weight: bold;
    text-decoration: none;
}

.unselectIndex {
    font-weight: normal;
    text-decoration: underline;
}

/*Modal Popup*/
.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 400px;
    font-size: large;
    border-style: solid;
    border-width: 1px;
}

.sampleStyleA {
    background-color: #FFF;
}

.sampleStyleB {
    background-color: #FFF;
    font-family: monospace;
    font-size: 10pt;
    font-weight: bold;
}

.sampleStyleC {
    background-color: #ddffdd;
    font-family: sans-serif;
    font-size: 10pt;
    font-style: italic;
}

.sampleStyleD {
    background-color: Blue;
    color: White;
    font-family: Arial;
    font-size: 10pt;
}

/*Popup Control*/
.popupControl {
    background-color: White;
    position: absolute;
    visibility: hidden;
}

/*Reorder List*/
.dragHandle {
    width: 10px;
    height: 15px;
    background-color: Blue;
    background-image: url(../images/bg-menu-main.png);
    cursor: move;
    border: outset thin white;
}

.callbackStyle {
    border: thin blue inset;
}

    .callbackStyle table {
        background-color: #5377A9;
        color: Black;
    }

.reorderListDemo li {
    list-style: none;
    margin: 2px;
    background-image: url(../images/bg_nav.gif);
    background-repeat: repeat-x;
    color: #FFF;
}

    .reorderListDemo li a {
        color: #FFF !important;
        font-weight: bold;
    }

.reorderCue {
    border: dashed thin black;
    width: 100%;
    height: 25px;
}

.itemArea {
    margin-left: 15px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1em;
    text-align: left;
}

/* Rounded Corners*/

.roundedPanel {
    width: 300px;
    background-color: #5377A9;
    color: white;
    font-weight: bold;
}

/* ResizableControl */

.frameImage {
    width: 130px;
    height: 65px;
    overflow: hidden;
    float: left;
    padding: 3px;
}

.frameText {
    width: 100px;
    height: 100px;
    overflow: auto;
    float: left;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    font-family: Helvetica;
    line-height: normal;
}

.handleImage {
    width: 15px;
    height: 16px;
    background-image: url(../images/HandleHand.png);
    overflow: hidden;
    cursor: se-resize;
}

.handleText {
    width: 16px;
    height: 16px;
    background-image: url(../images/HandleGrip.png);
    overflow: hidden;
    cursor: se-resize;
}

.resizingImage {
    padding: 0px;
    border-style: solid;
    border-width: 3px;
    border-color: #B4D35D;
}

.resizingText {
    padding: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #7391BA;
}

/*Textbox Watermark*/

.unwatermarked {
    /*height:18px;
	width:148px;*/
    font-weight: bold;
    font-family: Arial;
    font-size: 12;
    width: 250px;
}

.watermarked {
    /*height:20px;
	width:150px;*/
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    background-color: #F0F8FF;
    color: gray;
    font-family: Arial;
    font-size: 12;
    width: 250px;
}

/* Table Formatting */
table.sample {
    /*border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: Black Black Black Black;
	border-collapse: separate;*/
    background-color: white;
    width: 100%;
}

    table.sample th {
        border-width: 1px 1px 1px 1px;
        padding: 1px 1px 1px 1px;
        border-style: inset inset inset inset;
        border-color: white white white white;
        background-color: white;
        -moz-border-radius: 0px 0px 0px 0px;
    }

    table.sample td {
        border-width: 1px 1px 1px 1px;
        padding: 1px 1px 1px 1px;
        border-style: inset inset inset inset;
        border-color: white white white white;
        background-color: white;
        -moz-border-radius: 0px 0px 0px 0px;
    }

/* Progress Indicator Formatting */

.ProgressIndicator {
    background-color: #EFEFEF;
    color: Black;
    font-weight: bold;
    font-style: oblique;
    border: 2px solid #0099FF;
    padding: 10px;
    height: auto;
    width: auto;
}

.modalProgressGreyBackground {
    background: #CCCCCC;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.modalProgressRedBackground {
    background: Red;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.alternatingrowstyle {
    background-color: #F0F0F6;
}

.headerstyle {
    background-color: #F0F0F6;
    background-image: url(../images/sort_none.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
}

    .headerstyle a {
        text-decoration: none;
        color: black;
        display: block;
    }

.rowstyle {
    background-color: #FFF;
}

    .rowstyle td, .alternatingrowstyle td {
        padding: 4px;
    }

.sortascheaderstyle {
    background-image: url(../images/sort_asc.gif);
    background-color: #8dbdd8;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

.sortdescheaderstyle {
    background-image: url(../images/sort_desc.gif);
    background-color: #8dbdd8;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

#progressBackgroundFilter {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #CCCCCC;
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-index: 1000;
}

#progressMessage {
    position: fixed;
    top: 30%;
    left: 43%;
    padding: 10px;
    width: 30%;
    z-index: 1001;
    background-color: #fff;
    border: solid 1px #000;
}
/* TAB Control Style STARTS HERE */

/* TAB Control Style ENDS HERE */

/* AutoComplete Extender */

/*AutoComplete flyout */

.autocomplete_completionListElement {
    visibility: hidden;
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: 200px;
    text-align: left;
    list-style-type: none;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem {
    background-color: #ffff99;
    color: black;
    padding: 1px;
    font-size: 75%;
    font-family: Verdana,sans-serif;
}

/* AutoComplete item */

.autocomplete_listItem {
    background-color: window;
    color: windowtext;
    padding: 1px;
    font-size: 75%;
    font-family: Verdana,sans-serif;
}

.RequestAccess {
    display: none;
}

.dynamicPopulate_Normal {
    border: silver 1px inset;
    padding: 2px;
    text-align: center;
    height: 2em;
    margin: 5px;
    width: 200px;
}

.dynamicPopulate_Updating {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    border: silver 1px inset;
    text-align: center;
    padding: 2px;
    height: 2em;
    margin: 5px;
    width: 200px;
}

/***** START Modal Popup *****/

.mdemodalbackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.pnlmodalpopup {
    background-color: #ffffdd;
    border-width: 2px;
    border-style: solid;
    border-color: Gray;
    padding: 2px;
    font-size: 85%;
    font-family: Verdana,sans-serif;
}

.pnlmodalheader {
    color: Black;
    font-size: 85%;
    font-family: Verdana,sans-serif;
}

.pnlmodalbody {
    background-color: #ffffdd;
    border-width: 2px;
    border-style: solid;
    border-color: Gray;
    padding: 2px;
    overflow: scroll;
}

.pnlmodalheaderleft {
    float: left;
}

.pnlmodalheaderright {
    float: right;
}
/***** END Modal Popup *****/

a.linkHighlightButton {
    background: #FAFFCC;
    padding: 5px;
}

a.tableCellLink {
    display: block;
    text-decoration: none;
}

    a.tableCellLink:hover,
    a.tableCellLink:focus {
        text-decoration: underline;
    }

/* Home page announcement */
.announcement {
    margin-top: 2em;
    padding: 5px 10px;
    background: lightyellow;
    border: 1px solid rosybrown;
}

/* Simple tables */
.table-simple {
    border-collapse: collapse;
    border-color: #CDCDCD;
    margin-bottom: 1em;
    margin-top: 1em;
}

    .table-simple th,
    .table-simple td {
        padding: 5px;
        vertical-align: baseline;
        text-align: left;
    }

    .table-simple thead,
    .table-simple .table-head {
        background: #e6e6f0;
    }

        .table-simple thead th,
        .table-simple .table-head th {
            vertical-align: middle;
            text-align: center;
        }

.table-list tbody th {
    text-align: right;
}

.table-simple th.headerstyle,
.table-simple th.sortdescheaderstyle,
.table-simple th.sortascheaderstyle {
    padding-left: 20px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #CDCDCD;
}

.table-menu th,
.table-menu td {
    padding: 8px 10px;
}

.table-menu .table-cell-link {
    padding: 0;
}

.table-cell-link a {
    padding: 8px 10px;
    display: block;
    text-decoration: none;
    color: #00f;
}

    .table-cell-link a:hover,
    .table-cell-link a:focus {
        color: #00f;
        background: #fdf2fd;
        text-decoration: underline;
    }

.table-simple .table-cell-checkbox {
    text-align: center;
    vertical-align: middle;
}

.table-cell-checkbox input[type=checkbox] {
    /* larger checkboxes */
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    transform: scale(1.3);
    padding: 8px;
}
