/* Document */

html, body {
    font-size: 13px;
}

body {
    margin: 0;
}

.toolbar + .wrapper {
    margin-top: 1.5rem;
}

.wrapper {
    margin: 1rem 1.5rem;
    padding: 1.333rem;
    box-shadow: 0 0 1px rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.12), 0 6px 8px rgba(0,0,0,0.12)
}

#MainContent {
    clear: both;
}

h1 {
    font-size: 1.75rem;
    margin: 5px 0 0;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* Flexbox layout */

.grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.grid__item {
    flex: 0 1 auto;
}

.grid__item_right {
    text-align: right;
}

/* Logo / inside address */

.logo {
    width: 100%;
    max-width: 300px;
    min-width: 50px;
    padding-right: 10px;
}

/* Toolbar */

.toolbar {
    background: #eee;
    text-align: right;
    padding: .5rem 1.5rem;
    position: sticky;
    top: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.08), 0 4px 8px rgba(0,0,0,0.12), 0 12px 16px rgba(0,0,0,0.04);
}

    .toolbar button {
        padding: 4px 16px;
        margin-left: .5rem;
    }

/* Payment terms */
.balance {
    text-align: right;
    font-weight: bold;
    margin-right: 1rem;
    padding-right: 1px;
}

blockquote {
    font-size: 1.333rem;
    font-style: italic;
    margin: 0 1rem;
}

/* Simple tables */
.table-full-width {
    width: 100%;
}

.table-simple {
    border-collapse: collapse;
    border-color: #CDCDCD;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

    .table-simple th,
    .table-simple td {
        padding: .333rem;
        vertical-align: baseline;
        text-align: left;
        border-color: #CDCDCD;
    }

    .table-simple thead,
    .table-simple .table-head {
        background: #e6e6f0;
    }

        .table-simple thead th,
        .table-simple .table-head th {
            vertical-align: middle;
            text-align: center;
        }

    .table-simple tfoot,
    .table-simple .table-foot {
        background: #e6e6f0;
    }

        .table-simple tfoot th,
        .table-simple .table-foot th {
            vertical-align: middle;
            text-align: right;
        }

.table-list tr {
    vertical-align: baseline;
}

.table-list tbody th {
    text-align: left;
    padding: .25rem 1rem .25rem 0;
}

.table-simple th.headerstyle,
.table-simple th.sortdescheaderstyle,
.table-simple th.sortascheaderstyle {
    padding-left: 20px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #CDCDCD;
}

.table-menu th,
.table-menu td {
    padding: 8px 10px;
}

    .table-menu .table-cell-link,
    .table-menu td:first-child {
        padding: 0;
    }

        .table-menu td:first-child a,
        .table-cell-link a {
            padding: 8px 10px;
            display: block;
            text-decoration: none;
            color: #00f;
        }

            .table-menu td:first-child a:hover,
            .table-menu td:first-child a:focus,
            .table-cell-link a:hover,
            .table-cell-link a:focus {
                color: #00f;
                background: #fdf2fd;
                text-decoration: underline;
            }

.table-simple .table-cell-checkbox {
    text-align: center;
    vertical-align: middle;
}

.table-cell-checkbox input[type=checkbox] {
    /* larger checkboxes */
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    transform: scale(1.3);
    padding: 8px;
}

.table-cell-subhead {
    font-weight: normal;
}

.table-cell-alignright,
.table-simple .table-cell-alignright {
    text-align: right;
}

.table-cell-aligncenter,
.table-simple .table-cell-aligncenter {
    text-align: center;
}

.table-accounting tbody th {
    font-weight: normal;
    text-align: left;
}

.table-accounting thead th {
    text-align: left;
}

    .table-accounting thead th + th {
        font-weight: bold;
        text-align: right;
    }

.table-accounting tfoot th {
    text-transform: uppercase;
}

.table-accounting td,
.table-accounting th {
    padding: .5rem 1rem;
}

    .table-accounting td:last-child,
    .table-accounting th:last-child {
        width: 25%
    }

/* Test site banner */
.banner-test-site {
    text-shadow: 0 0 4px white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    line-height: 1.5;
    opacity: .9;
    color: #333;
    font-size: 16px;
    font-family: system-ui;
    background: repeating-linear-gradient(135deg,#f6da52bb,#f6da52bb 10px,#ffef80bb 10px,#ffef80bb 20px);
    box-shadow: 0 4px 8px rgba(130, 106, 15, 0.37);
}

/* Print */
@media print {
    html, body {
        font-size: 12px;
        color: #000;
    }

    .toolbar {
        display: none;
    }

    .wrapper {
        margin: 0;
        padding: 0;
        box-shadow: none;
        break-after: always;
        page-break-after: always;
    }

    .logo {
        max-width: 250px;
    }

    .banner-test-site {
        position: static;
        box-shadow: none;
        text-shadow: none;
        border: 1px solid;
    }

        .banner-test-site::after {
            content: "—Not for public distribution";
        }
}
