body {
   background: white;
   font-size: 12pt;
   }

div#header
{
    display: none;
}

div#content
{
   width: 7.5in;
   margin: -100px -300px;
   padding: 0;
   border: 0;
   float: none !important;
   color: black;
   background: transparent none;
}

div#leftmenu
{
    display: none;
}

div#rightmenu
{
    display: none;
}