/* Layout */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    color: #222;
    font-family: Verdana, sans-serif;
}

.content {
    width: 100%;
    padding: 0 2rem;
    margin: 2rem 0;
    font-size: 85%;
}

    .content p {
        line-height: 1.5;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .content p,
    .content h1,
    .content h2,
    .content h3 {
        max-width: 53rem;
    }

    .content li p {
        max-width: calc(53rem - 40px);
    }

.content-medium {
    max-width: 53rem;
}

.content-narrow {
    max-width: 25rem;
}

.skipnav,
.skipnav:focus {
    left: 0;
    position: absolute;
    transition: all .2s ease-in-out
}

.skipnav {
    background: 0 0;
    color: #212121;
    padding: 1rem 1.5rem;
    top: -4.2rem;
    z-index: 100
}

    .skipnav:focus {
        background: #fff;
        outline: 0;
        top: 0
    }

h1, h2, h3 {
    color: #010053;
}

h1 {
    font-size: 175%;
    margin: .5em 0;
}

h2 {
    font-size: 150%;
    margin: 1.1em 0 .5em;
}

h3 {
    font-size: 125%;
}

/* Links */
a, a:visited.no-visited {
    color: #0000EE;
}

    a:visited {
        color: #551A8B;
    }

    a:hover, a:focus,
    a:hover.no-visited, a:focus.no-visited {
        color: #0066ee;
    }

    a:active,
    a:active.no-visited {
        color: #CC0000;
    }

h1 a, h2 a, h3 a {
    text-decoration: none;
}

    h1 a:hover, h2 a:hover, h3 a:hover,
    h1 a:focus, h2 a:focus, h3 a:focus {
        text-decoration: underline;
    }

/* Test site banner */
.banner-test-site {
    text-shadow: 0 0 4px white;
    opacity: 0.8;
    background: repeating-linear-gradient(135deg,#f6da52,#f6da52 10px,#ffef80 10px,#ffef80 20px);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: .9rem;
    line-height: 1.5;
}

/* Page header */
.header {
    background: #01009A;
    width: 100%;
    padding: 1.2rem 2rem;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

    .header .logo {
        height: 48px;
        vertical-align: middle;
        margin-right: 1rem;
    }

.header-home {
    font-weight: 600;
    line-height: 1.4;
}

.header-full {
    flex: auto;
}

.header a {
    white-space: nowrap;
    padding: .5rem 0;
    color: #DEDEF9;
    text-decoration: none;
    margin-right: 1em;
}

    .header a:hover, .header a:focus {
        color: #B4B4D7;
    }

.sub-nav a {
    margin-left: .8em;
    margin-right: 0;
    font-size: 12px;
}

.header-sub {
    color: #DEDEF9;
    background: #3C3BCA;
    padding: .8rem 2rem;
    font-size: 12px;
}

/* page footer, uses body colors */
.footer {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 1em 2rem;
    font-size: 75%;
    color: #fff;
    background: #01009A;
}

    .footer a {
        color: #DEDEF9;
        font-size: 12px;
    }

        .footer a:hover,
        .footer a:focus {
            color: #B4B4D7;
        }

    .header p,
    .footer p {
        margin-bottom: 0;
    }

.clear {
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
}

/* print only rules */
@media print {
    .nav {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .content {
        float: left;
    }
}
/* end print only rules */

/* Textbox Watermark */

.unwatermarked {
    font-weight: bold;
    font-size: 12px;
    width: 250px;
}

.watermarked {
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    background-color: #F0F8FF;
    color: gray;
    font-size: 12px;
    width: 250px;
}

/* Progress Indicator Formatting */

.ProgressIndicator {
    background-color: #EFEFEF;
    color: Black;
    font-weight: bold;
    font-style: oblique;
    border: 2px solid #0099FF;
    padding: 10px;
    height: auto;
    width: auto;
}

.modalProgressGreyBackground {
    background: #CCCCCC99;
}

.alternatingrowstyle {
    background-color: #F0F0F6;
}

.headerstyle {
    background-color: #F0F0F6;
    background-image: url(../images/sort_none.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
}

    .headerstyle a {
        text-decoration: none;
        color: black;
        display: block;
    }

.rowstyle {
    background-color: #FFF;
}

    .rowstyle td, .alternatingrowstyle td {
        padding: 4px;
    }

.sortascheaderstyle {
    background-image: url(../images/sort_asc.gif);
    background-color: #8dbdd8;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

.sortdescheaderstyle {
    background-image: url(../images/sort_desc.gif);
    background-color: #8dbdd8;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

#progressBackgroundFilter {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #CCCCCC99;
    z-index: 1000;
}

#progressMessage {
    position: fixed;
    top: 30%;
    left: 43%;
    padding: 10px;
    width: 30%;
    z-index: 1001;
    background-color: #fff;
    border: solid 1px #000;
}

/* AutoComplete Extender */

/* AutoComplete flyout */

.autocomplete_completionListElement {
    visibility: hidden;
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: default;
    overflow: auto;
    height: 200px;
    text-align: left;
    list-style-type: none;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem {
    background-color: #ffff99;
    color: black;
    padding: 1px;
    font-size: 75%;
}

/* AutoComplete item */

.autocomplete_listItem {
    background-color: window;
    color: windowtext;
    padding: 1px;
    font-size: 75%;
}

.dynamicPopulate_Normal {
    border: silver 1px inset;
    padding: 2px;
    text-align: center;
    height: 2em;
    margin: 5px;
    width: 200px;
}

.dynamicPopulate_Updating {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    border: silver 1px inset;
    text-align: center;
    padding: 2px;
    height: 2em;
    margin: 5px;
    width: 200px;
}

/***** START Modal Popup *****/

.mdemodalbackground {
    background-color: #ccccccb2;
}

.pnlmodalpopup {
    background-color: #ffffdd;
    border-width: 2px;
    border-style: solid;
    border-color: Gray;
    padding: 2px;
    font-size: 85%;
}

.pnlmodalheader {
    color: Black;
    font-size: 85%;
}

.pnlmodalbody {
    background-color: #ffffdd;
    border-width: 2px;
    border-style: solid;
    border-color: Gray;
    padding: 2px;
    overflow: scroll;
}

.pnlmodalheaderleft {
    float: left;
}

.pnlmodalheaderright {
    float: right;
}
/***** END Modal Popup *****/

a.linkHighlightButton {
    background: #FAFFCC;
    padding: 5px;
}

a.tableCellLink {
    display: block;
    text-decoration: none;
}

    a.tableCellLink:hover,
    a.tableCellLink:focus {
        text-decoration: underline;
    }

/* Forms */

/* normalize */
button,
input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
}

select, textarea {
    font-family: inherit;
    font-size: 100%;
}

button {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

input[type=text],
input[type=password],
input:not([type]),
select,
textarea {
    min-width: 275px;
}

    input[type=text].input-small,
    input[type=password].input-small,
    input:not([type]).input-small,
    select.input-small,
    textarea.input-small {
        min-width: 100px;
        width: 150px;
    }

input[type=checkbox] {
    margin-right: 4px;
}

input[type=radio] {
    margin: 0 3px 0 5px;
}

textarea {
    height: 80px;
    vertical-align: baseline;
}

/* Login page */
.login-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 2rem auto;
    max-width: 54rem;
}

.login-form {
    max-width: 27rem;
    margin: auto;
}

    .login-form input[type=text],
    .login-form input[type=password] {
        width: 100%;
    }

    .login-form fieldset {
        border-width: 1px;
        border-radius: 5px;
        padding: 0 16px;
        width: 27rem;
    }

.login-register {
    padding: 8px 16px 0;
}

/* Announcements */

.announcement {
    display: inline-block;
    max-width: 25rem;
    margin-top: 5px;
    margin-right: 13px;
    padding: 5px 16px;
    background: lightyellow;
    border: 1px solid beige;
    border-radius: 5px;
    vertical-align: text-top;
}

    .announcement.announcement-wide {
        max-width: 53rem;
    }

    .announcement.announcement-centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .announcement h2 {
        margin-top: 0;
        padding-top: 0;
        border: none;
    }

    .announcement.announcement-mild {
        border: 3px solid #eeeece;
    }

    .announcement.announcement-severe {
        background: #ffd9df;
        border: 3px solid #ac3e3e;
    }

        .announcement.announcement-severe h2 {
            color: #8e1e1e;
        }

/* Simple tables */

.table-full-width {
    width: 100%;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.table-simple {
    border-collapse: collapse;
    border-color: #CDCDCD;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left;
}

    .table-simple th,
    .table-simple td {
        padding: 5px;
        vertical-align: baseline;
        border-color: #CDCDCD;
    }

    .table-simple thead,
    .table-simple .table-head {
        background: #e6e6f0;
    }

        .table-simple thead th,
        .table-simple .table-head th,
        .table-simple .table-head td {
            vertical-align: middle;
            text-align: center;
        }

    .table-simple tfoot,
    .table-simple .table-foot {
        background: #e6e6f0;
    }

        .table-simple tfoot th,
        .table-simple .table-foot th {
            vertical-align: middle;
            text-align: right;
        }

    .table-simple caption {
        text-align: left;
    }

.table-list tbody th {
    padding-left: 0;
}

.table-simple th.headerstyle,
.table-simple th.sortdescheaderstyle,
.table-simple th.sortascheaderstyle {
    padding-left: 20px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #CDCDCD;
}

.table-menu th,
.table-menu td {
    padding: 8px 10px;
}

    .table-simple .table-cell-link,
    .table-menu .table-cell-link,
    .table-menu td:first-child {
        padding: 0;
    }

        .table-menu td:first-child a,
        .table-cell-link a {
            padding: 8px 10px;
            display: block;
            text-decoration: none;
            color: #00f;
        }

            .table-menu td:first-child a:hover,
            .table-menu td:first-child a:focus,
            .table-cell-link a:hover,
            .table-cell-link a:focus {
                color: #00f;
                background: #fdf2fd;
                text-decoration: underline;
            }

.table-simple a[disabled] {
    color: #313175;
    pointer-events: none;
}

.table-simple .table-cell-checkbox {
    text-align: center;
    vertical-align: middle;
}

/* Make checkboxes in table cells easier to see & use */
.table-simple.table-checkbox-menu td {
    vertical-align: middle;
}

td.table-cell-checkbox {
    padding: 2px 0 0;
}

.table-cell-checkbox input[type=checkbox] {
    /* larger checkboxes */
    -ms-transform: translate(-50%, -50%) scale(1.3);
    -moz-transform: translate(-50%, -50%) scale(1.3);
    -webkit-transform: translate(-50%, -50%) scale(1.3);
    -o-transform: translate(-50%, -50%) scale(1.3);
    transform: translate(-50%, -50%) scale(1.3);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}

.table-cell-checkbox span {
    display: block;
    position: relative;
}

.table-cell-checkbox label {
    display: block;
    position: relative;
    width: 100%;
    padding: 16px 0;
}

.table-cell-checkbox span input:not(:disabled):hover + label {
    background-color: #D4FCD4;
}

/* Other table styles */

.table-cell-subhead {
    font-weight: normal;
}

.table-cell-alignleft,
.table-simple .table-cell-alignleft,
.table-cell-alignleft input {
    text-align: left;
}

.table-cell-alignright,
.table-simple .table-cell-alignright,
.table-cell-alignright input {
    text-align: right;
}

.table-cell-aligncenter,
.table-simple .table-cell-aligncenter,
.table-cell-aligncenter input {
    text-align: center;
}

.table-accounting tbody th {
    font-weight: normal;
    text-align: left;
}

.table-accounting thead th {
    text-align: left;
}

    .table-accounting thead th + th {
        font-weight: bold;
        text-align: right;
    }

.table-accounting tfoot th {
    text-transform: uppercase;
}

.table-accounting td,
.table-accounting th {
    padding: .5em 1em;
}

    .table-accounting td:last-child,
    .table-accounting th:last-child {
        width: 25%
    }

.table-simple.table-compact th,
.table-simple.table-compact td {
    padding: 0 10px 4px 0;
}

/* Message highlights */
.message-update {
    color: #80005e;
}

.message-highlight {
    background-color: #ffffcc;
    padding: .5em;
}

.message-warning {
    background-color: #ffcccc;
    padding: .5em;
}

.label-highlight {
    background-color: #ffffcc;
    padding: 2px 3px;
}

/* Submenu tabs */

ul.menu-list-horizontal {
    padding: 0;
    margin: 2em 0 0;
    list-style: none;
    border-bottom: 1px solid #c4c4ff;
}

    ul.menu-list-horizontal li {
        display: inline-block;
    }

    ul.menu-list-horizontal a,
    ul.menu-list-horizontal .selected-menu-item {
        color: #4545a1;
        padding: .3rem .6rem;
        margin-right: .1rem;
        text-decoration: none;
        border-radius: 5px 5px 0 0;
        display: block;
        margin-bottom: -1px;
        border: 1px solid transparent;
    }

        ul.menu-list-horizontal a:hover,
        ul.menu-list-horizontal a:focus {
            border-color: #e0e0ff #e0e0ff #c4c4ff;
        }

    ul.menu-list-horizontal .selected-menu-item {
        color: #313175;
        background: #f0f9ff;
        border-color: #c4c4ff #c4c4ff #fff;
    }

        ul.menu-list-horizontal .selected-menu-item:hover {
            border-bottom-color: #fff;
        }

        ul.menu-list-horizontal .selected-menu-item.disabled {
            pointer-events: none;
        }

    ul.menu-list-horizontal + h2,
    ul.menu-list-horizontal + div > h2:first-child {
        margin-top: 0.5em;
    }

/* typography */
.preserve-linebreaks {
    white-space: pre-line;
}

/* Blockquote */

blockquote {
    margin: 1em 0;
    padding: .5em 1em;
    background-color: #f3f3f7;
}

/* Buttons */

a.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
    padding: 4px 16px;
    margin: 8px 4px 8px 0;
    border: none;
    border-radius: 3px;
    color: #211FE8;
    text-decoration: none;
    background: #eee;
    box-shadow: 0 1px 1px -1px #999;
}

    .button:hover,
    button:hover,
    [type="button"]:hover,
    [type="reset"]:hover,
    [type="submit"]:hover,
    .button:focus,
    button:focus,
    [type="button"]:focus,
    [type="reset"]:focus,
    [type="submit"]:focus {
        background: #06e;
        color: #fff;
        box-shadow: 0 1px 3px -1px #2e3646;
    }

    .button:active,
    button:active,
    [type="button"]:active,
    [type="reset"]:active,
    [type="submit"]:active {
        position: relative;
        top: 1px;
        background: #17f;
        box-shadow: 0 1px 3px -2px #2e3646;
    }

    .button.button-large,
    button.button-large,
    [type="button"].button-large,
    [type="reset"].button-large,
    [type="submit"].button-large {
        padding: 8px 16px;
    }

    .button-small .button,
    .button-small button,
    .button-small [type="button"],
    .button-small [type="reset"],
    .button-small [type="submit"],
    .button.button-small,
    button.button-small,
    [type="button"].button-small,
    [type="reset"].button-small,
    [type="submit"].button-small {
        margin: 2px;
        padding: 2px 8px;
        box-shadow: 0 1px 1px -1px #999;
    }

/* Button intents */
.button-proceed {
    color: #283c15;
    background: #a0ea57;
    box-shadow: 0 1px 1px -1px #283c15;
}

    .button-proceed:hover,
    .button-proceed:focus {
        color: #fff;
        background: #57aa04;
        box-shadow: 0 1px 3px -1px #283c15;
    }

    .button-proceed:active {
        background: #68b919;
        box-shadow: 0 1px 3px -2px #283c15;
    }

a.button-cancel,
.button-cancel {
    color: #3e2927;
    box-shadow: 0 1px 1px -1px #999;
}

    .button-cancel:hover,
    .button-cancel:focus {
        color: #fff;
        background: #372e2d;
        box-shadow: 0 1px 3px -1px #3e2927;
    }

    .button-cancel:active {
        background: #4d4341;
        box-shadow: 0 1px 3px -2px #3e2927;
    }

.button:disabled,
button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
    background: #ddd;
    color: #777;
    box-shadow: none;
}

/* DataGrid Pager */

.datagrid-pager td {
    padding: 8px;
}

.datagrid-pager a,
.datagrid-pager span {
    padding: 1px 6px;
    margin: 0 2px;
    border: none;
    border-radius: 3px;
    color: #211FE8;
    text-decoration: none;
    background: #fff;
    box-shadow: 0 1px 1px -1px #999;
}

.datagrid-pager span {
    color: #000;
    border: 1px solid #777;
}

.datagrid-pager a:hover, .datagrid-pager a:focus {
    background: #06e;
    color: #fff;
    box-shadow: 0 1px 3px -1px #2e3646;
}

.datagrid-pager a:active {
    position: relative;
    top: 1px;
    background: #17f;
    box-shadow: 0 1px 3px -2px #2e3646;
}


/* AjaxControlToolkit TabContainer layout fixes */
.ajax__tab_header {
    box-sizing: content-box;
}

    .ajax__tab_header span {
        vertical-align: bottom;
    }

/* left column */
.nav {
    width: 28%; /* % of inner-container width is ~same width as right column */
    float: left; /* left side of inner-container */
    margin: 0; /* keep flush with adjacent containers */
    padding: .1em 0 0 1%; /* space from window edge (IE messes up with margin, so use padding) */
    font-size: 80%;
}
/* center column */
.content-center {
    width: 68%; /* % of inner-container width */
    float: right; /* right side of inner-container */
    padding: .2em 1%; /* some padding for readability */
    margin: 0; /* keep flush with adjacent containers */
    /*border-color: #999;      /* W3C CSS validation service get an erroneous */
    /*border-style: solid;     /*   parse error on border-right shorthand, */
    /*border-width: 0 1px;     /*   but not on individual properties */
    font-size: 85%;
}
/* full width content */
.content-full {
    width: 96%; /* % of inner-container width */
    padding: 1em 2%; /* some padding for readability */
    margin: 0; /* keep flush with adjacent containers */
    font-size: 85%;
}
/* container for the 3 columns */
.outer-container {
    width: 100%; /* full window width */
    margin: 0; /* keep flush with adjacent containers */
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
/* container for just the left and center columns */
.inner-container {
    width: 98%; /* leaves 20% of window width for right column */
    float: left; /* left side of window */
    margin: 0; /* keep flush with adjacent containers */
}
/* right column */
.sidebar {
    width: 15%; /* a little less than available 17% */
    float: right; /* right side of window */
    margin: 0; /* keep flush with adjacent containers */
    padding: .1em 1% .1em 0; /* some space from right window edge */
    font-size: 85%;
    background-color: #C0C0FF;
}

/* Form progress bar */
.form-progress {
    margin: 1rem 0 1.5rem;
    padding: 0 0 1em 0;
    border-bottom: 1px solid #ddd;
}

    .form-progress li {
        display: inline-block;
        background: white;
        padding: 4px 11px;
    }

    .form-progress .current {
        background: #f0f9ff;
        font-weight: bold;
    }

    .form-progress li::before {
        content: '▷ ';
    }

    .form-progress .done::before {
        content: '✓ ';
    }

    .form-progress .current::before {
        content: '▶ ';
    }

    .form-progress .skipped {
        color: #666;
    }

        .form-progress .skipped::before {
            content: '✗ ';
        }

    .form-progress a {
        color: #0000EE;
        text-decoration: none;
    }

        .form-progress a:hover, .form-progress a:focus {
            color: #0066ee;
        }

        .form-progress a:active {
            color: #CC0000;
        }

/* Panel */
.panel {
    border-radius: 9px;
    padding: 1rem 2rem;
    margin: 5px;
    border: 5px solid #010053;
    max-width: 53rem;
}

.panel-inprogress {
    border-color: #060;
}

    .panel-inprogress h2,
    .panel-inprogress h3 {
        color: #060;
    }

.panel-complete {
    border-color: #00F;
}


    .panel-complete h2,
    .panel-complete h3 {
        color: #00F;
    }

.panel-error {
    border-color: #A00;
}

    .panel-error h2,
    .panel-error h3 {
        color: #A00;
    }

.panel-noaction {
    border-color: #525260;
}

    .panel-noaction h2,
    .panel-noaction h3 {
        color: #525260;
    }

.panel h1, .panel h2, .panel h3 {
    margin-top: 0;
}
