html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    color: #222;
    font-family: Verdana, sans-serif;
}

.content {
    width: 100%;
    padding: 0 2em;
    margin: 2em 0;
    font-size: 85%;
}

    .content p {
        max-width: 53rem;
        line-height: 1.5;
        margin-top: 1em;
        margin-bottom: 1em;
    }

.content-medium {
    max-width: 53rem;
}

.content-narrow {
    max-width: 25rem;
}

.skipnav,
.skipnav:focus {
    left: 0;
    position: absolute;
    transition: all .2s ease-in-out
}

.skipnav {
    background: 0 0;
    color: #212121;
    padding: 1rem 1.5rem;
    top: -4.2rem;
    z-index: 100
}

    .skipnav:focus {
        background: #fff;
        outline: 0;
        top: 0
    }

h1 {
    font-size: 175%;
    margin: .6em 0 .3em;
}

h2 {
    font-size: 125%;
    margin: 1.5em 0 .2em;
    padding-top: .5em;
    color: #000080;
    border-top: 1px solid #d9d9f2;
}

a:link, a:visited.no-visited {
    color: #0000EE;
    background-color: transparent;
}

a:visited {
    color: #551A8B;
    background-color: transparent;
}

a:hover, a:focus {
    color: #0066ee;
}

a:active {
    color: #EE0000;
}

/* page header, uses body colors */
div#header {
    clear: both;
    height: 100px;
    background: #01009A;
}

    div#header.header-no-menu {
        height: auto;
    }

div#epdlogo {
    display: inline-block;
    margin: 12px 22px;
}

div#apptitle {
    position: absolute;
    top: 15px;
    left: 140px;
}

div#usermenu {
    background: #01009A;
    color: #ffffff;
    font-size: 75%;
}

div#userinfo {
    position: absolute;
    top: 100px;
    left: 150px;
    color: #ffffff;
    font-size: 75%;
}

/* page footer, uses body colors */
.footer {
    clear: both; /* below all columns */
    width: 100%; /* full window width */
    margin: 0;
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 75%;
    color: #fff;
    text-align: center;
    background-color: #01009A;
}

    .footer a {
        color: #ff7;
        text-decoration: none;
    }

        .footer a:hover,
        .footer a:focus {
            color: #ff3;
            text-decoration: underline;
        }

    .header p,
    .footer p {
        margin-bottom: 0; /* prevent gaps between divs in some browsers */
    }

.clear {
    clear: both;
    margin: 0; /* keep flush with adjacent containers */
    padding: 0;
    height: 0;
    overflow: hidden;
}

/* rules for WinIE only */
@media screen, projection {
    * html .clear {
        display: none; /* prevent excessive gap at div bottom in WinIE5 */
    }
}
/* end WinIE only rules */

/* print only rules (per request) */
@media print {
    .nav {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .content {
        float: left;
    }
}
/* end print only rules */

/*CollapsiblePanel*/
.collapsePanel {
    background-color: white;
    overflow: hidden;
}

.collapsePanelHeader {
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    background-image: url(../images/bg-menu-main.png);
    background-repeat: repeat-x;
}

/*Modal Popup*/
.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 400px;
    font-size: large;
    border-style: solid;
    border-width: 1px;
}

/*Textbox Watermark*/

.unwatermarked {
    /*height:18px;
	width:148px;*/
    font-weight: bold;
    font-size: 12;
    width: 250px;
}

.watermarked {
    /*height:20px;
	width:150px;*/
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    background-color: #F0F8FF;
    color: gray;
    font-size: 12;
    width: 250px;
}

/* Progress Indicator Formatting */

.ProgressIndicator {
    background-color: #EFEFEF;
    color: Black;
    font-weight: bold;
    font-style: oblique;
    border: 2px solid #0099FF;
    padding: 10px;
    height: auto;
    width: auto;
}

.modalProgressGreyBackground {
    background: #CCCCCC;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.alternatingrowstyle {
    background-color: #F0F0F6;
}

.headerstyle {
    background-color: #F0F0F6;
    background-image: url(../images/sort_none.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
}

    .headerstyle a {
        text-decoration: none;
        color: black;
        display: block;
    }

.rowstyle {
    background-color: #FFF;
}

    .rowstyle td, .alternatingrowstyle td {
        padding: 4px;
    }

.sortascheaderstyle {
    background-image: url(../images/sort_asc.gif);
    background-color: #8dbdd8;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

.sortdescheaderstyle {
    background-image: url(../images/sort_desc.gif);
    background-color: #8dbdd8;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

#progressBackgroundFilter {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #CCCCCC;
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-index: 1000;
}

#progressMessage {
    position: fixed;
    top: 30%;
    left: 43%;
    padding: 10px;
    width: 30%;
    z-index: 1001;
    background-color: #fff;
    border: solid 1px #000;
}

/* AutoComplete Extender */

/*AutoComplete flyout */

.autocomplete_completionListElement {
    visibility: hidden;
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: default;
    overflow: auto;
    height: 200px;
    text-align: left;
    list-style-type: none;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem {
    background-color: #ffff99;
    color: black;
    padding: 1px;
    font-size: 75%;
}

/* AutoComplete item */

.autocomplete_listItem {
    background-color: window;
    color: windowtext;
    padding: 1px;
    font-size: 75%;
}

.dynamicPopulate_Normal {
    border: silver 1px inset;
    padding: 2px;
    text-align: center;
    height: 2em;
    margin: 5px;
    width: 200px;
}

.dynamicPopulate_Updating {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    border: silver 1px inset;
    text-align: center;
    padding: 2px;
    height: 2em;
    margin: 5px;
    width: 200px;
}

/***** START Modal Popup *****/

.mdemodalbackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.pnlmodalpopup {
    background-color: #ffffdd;
    border-width: 2px;
    border-style: solid;
    border-color: Gray;
    padding: 2px;
    font-size: 85%;
}

.pnlmodalheader {
    color: Black;
    font-size: 85%;
}

.pnlmodalbody {
    background-color: #ffffdd;
    border-width: 2px;
    border-style: solid;
    border-color: Gray;
    padding: 2px;
    overflow: scroll;
}

.pnlmodalheaderleft {
    float: left;
}

.pnlmodalheaderright {
    float: right;
}
/***** END Modal Popup *****/

a.linkHighlightButton {
    background: #FAFFCC;
    padding: 5px;
}

a.tableCellLink {
    display: block;
    text-decoration: none;
}

    a.tableCellLink:hover,
    a.tableCellLink:focus {
        text-decoration: underline;
    }


/* Form */
input[type=text],
input[type=password],
input:not([type]),
select,
textarea {
    min-width: 275px;
}

    input[type=text].input-small,
    input[type=password].input-small,
    input:not([type]).input-small,
    select.input-small,
    textarea.input-small {
        min-width: 100px;
        width: 150px;
    }

input[type=checkbox] {
    margin-right: 4px;
}

textarea {
    height: 80px;
}
/* Login page */
.login-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    margin: 2em auto;
    max-width: 50rem;
}

.login-form input[type=text],
.login-form input[type=password] {
    width: 100%;
}

.login-form fieldset {
    border-width: 1px;
    border-radius: 5px;
    padding: 0 16px;
    width: 100%;
    max-width: 25rem;
}

.login-register {
    padding: 8px 16px 0;
}

.announcement {
    display: inline-block;
    max-width: 25rem;
    margin-top: 5px;
    margin-right: 13px;
    padding: 5px 16px;
    background: lightyellow;
    border: 1px solid beige;
    border-radius: 5px;
    vertical-align: text-top;
}

    .announcement.announcement-wide {
        max-width: 53rem;
    }

    .announcement.announcement-centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .announcement h2 {
        margin-top: 0;
        padding-top: 0;
        border: none;
    }

    .announcement.announcement-mild {
        border: 3px solid #eeeece;
    }

    .announcement.announcement-severe {
        background: #ffd9df;
        border: 3px solid #ac3e3e;
    }

        .announcement.announcement-severe h2 {
            color: #8e1e1e;
        }

/* Simple tables */

.table-full-width {
    width: 100%;
}

.table-simple {
    border-collapse: collapse;
    border-color: #CDCDCD;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left;
}

    .table-simple th,
    .table-simple td {
        padding: 5px;
        vertical-align: baseline;
        border-color: #CDCDCD;
    }

    .table-simple thead,
    .table-simple .table-head {
        background: #e6e6f0;
    }

        .table-simple thead th,
        .table-simple .table-head th {
            vertical-align: middle;
            text-align: center;
        }

    .table-simple tfoot,
    .table-simple .table-foot {
        background: #e6e6f0;
    }

        .table-simple tfoot th,
        .table-simple .table-foot th {
            vertical-align: middle;
            text-align: right;
        }

.table-list tbody th {
    text-align: right;
}

.table-simple th.headerstyle,
.table-simple th.sortdescheaderstyle,
.table-simple th.sortascheaderstyle {
    padding-left: 20px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #CDCDCD;
}

.table-menu th,
.table-menu td {
    padding: 8px 10px;
}

    .table-simple .table-cell-link,
    .table-menu .table-cell-link,
    .table-menu td:first-child {
        padding: 0;
    }

        .table-menu td:first-child a,
        .table-cell-link a {
            padding: 8px 10px;
            display: block;
            text-decoration: none;
            color: #00f;
        }

            .table-menu td:first-child a:hover,
            .table-menu td:first-child a:focus,
            .table-cell-link a:hover,
            .table-cell-link a:focus {
                color: #00f;
                background: #fdf2fd;
                text-decoration: underline;
            }

.table-simple a[disabled] {
    color: #313175;
    pointer-events: none;
}

.table-simple .table-cell-checkbox {
    text-align: center;
    vertical-align: middle;
}

.table-cell-checkbox input[type=checkbox] {
    /* larger checkboxes */
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    transform: scale(1.3);
    padding: 8px;
}

.table-cell-subhead {
    font-weight: normal;
}

.table-cell-alignleft,
.table-simple .table-cell-alignleft,
.table-cell-alignleft input {
    text-align: left;
}

.table-cell-alignright,
.table-simple .table-cell-alignright,
.table-cell-alignright input {
    text-align: right;
}

.table-cell-aligncenter,
.table-simple .table-cell-aligncenter,
.table-cell-aligncenter input {
    text-align: center;
}

.table-accounting tbody th {
    font-weight: normal;
    text-align: left;
}

.table-accounting thead th {
    text-align: left;
}

    .table-accounting thead th + th {
        font-weight: bold;
        text-align: right;
    }

.table-accounting tfoot th {
    text-transform: uppercase;
}

.table-accounting td,
.table-accounting th {
    padding: .5em 1em;
}

    .table-accounting td:last-child,
    .table-accounting th:last-child {
        width: 25%
    }

.table-simple.table-compact th,
.table-simple.table-compact td {
    padding: 0 10px 4px 0;
}

/* Update messages */
.message-update {
    color: #80005e;
}

.message-highlight {
    background-color: #ffffcc;
    padding: .5em;
}

.label-highlight {
    background-color: #ffffcc;
    padding: 2px 3px;
}

/* Submenu */

ul.menu-list-horizontal {
    padding: 0;
    margin: 2em 0 -1em;
    list-style: none;
}

    ul.menu-list-horizontal li {
        display: inline-block;
    }

    ul.menu-list-horizontal a,
    ul.menu-list-horizontal .selected-menu-item {
        color: #4545a1;
        background: #f0f9ff;
        padding: .3em .6em;
        margin-right: .3em;
        text-decoration: none;
        border-radius: 6px 6px 0 0;
    }

        ul.menu-list-horizontal a:hover,
        ul.menu-list-horizontal a:focus {
            background: #fdf2fd;
        }

        ul.menu-list-horizontal .selected-menu-item,
        ul.menu-list-horizontal a:disabled,
        ul.menu-list-horizontal a[disabled] {
            color: #313175;
            background: #c3e7ff;
            pointer-events: none;
        }

/* typography */
.preserve-linebreaks {
    white-space: pre-line;
}

/* Blockquote */

blockquote {
    margin: 1em 0;
    padding: .5em 1em;
    background-color: #f3f3f7;
}

/* Buttons */

/* normalize */
button,
input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
}

button {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

/* new button styling */
a.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
    padding: 4px 16px;
    margin: 8px 4px 8px 0;
    border: none;
    border-radius: 3px;
    color: #474761;
    text-decoration: none;
    background: #ddd;
    background: linear-gradient(0deg, #ddd 0%, #eee 100%);
    box-shadow: 0 1px 1px -1px #2e3646;
}

    a.button:hover,
    button:hover,
    [type="button"]:hover,
    [type="reset"]:hover,
    [type="submit"]:hover,
    a.button:focus,
    button:focus,
    [type="button"]:focus,
    [type="reset"]:focus,
    [type="submit"]:focus {
        background: #c2d3f3;
        background: linear-gradient(0deg, #c2d3f3 0%, #e5edfb 100%);
        box-shadow: 0 1px 3px -1px #2e3646;
    }

    a.button:active,
    button:active,
    [type="button"]:active,
    [type="reset"]:active,
    [type="submit"]:active {
        position: relative;
        top: 1px;
        background: #bbcff3;
        background: linear-gradient(0deg, ##bbcff3 0%, #e5edfb 100%);
        box-shadow: 0 1px 3px -2px #2e3646;
    }

    a.button.button-large,
    button.button-large,
    [type="button"].button-large,
    [type="reset"].button-large,
    [type="submit"].button-large {
        padding: 8px 16px;
    }

    .button-small a.button,
    .button-small button,
    .button-small [type="button"],
    .button-small [type="reset"],
    .button-small [type="submit"],
    a.button.button-small,
    button.button-small,
    [type="button"].button-small,
    [type="reset"].button-small,
    [type="submit"].button-small {
        margin: 2px;
        padding: 2px 8px;
        box-shadow: 0 1px 1px -1px #2e3646;
    }

/* Button intents */
.button-proceed {
    color: #293021;
    background: #98d035;
    background: linear-gradient(0deg, #c3ee90 0%, #ddf9c7 100%);
    box-shadow: 0 1px 1px -1px #293021;
}

    .button-proceed:hover,
    .button-proceed:focus {
        background: #98d035;
        background: linear-gradient(0deg, #98d035 0%, #c3ee90 100%);
        box-shadow: 0 1px 3px -1px #293021;
    }

    .button-proceed:active {
        box-shadow: 0 1px 3px -2px #293021;
    }

.button-cancel {
    color: #3e2927;
    background: #f7bbb1;
    background: linear-gradient(0deg, #f7bbb1 0%, #f8e1de 100%);
    box-shadow: 0 1px 1px -1px #3e2927;
}

    .button-cancel:hover,
    .button-cancel:focus {
        background: #f2938c;
        background: linear-gradient(0deg, #f2938c 0%, #f7bbb1 100%);
        box-shadow: 0 1px 3px -1px #3e2927;
    }

    .button-cancel:active {
        box-shadow: 0 1px 3px -2px #3e2927;
    }

a.button:disabled,
button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
    background: #ddd;
    color: #777;
    box-shadow: none;
}


/* Deprecated layout */
.ajax__tab_header {
    box-sizing: content-box;
}
/* left column */
.nav {
    width: 28%; /* % of inner-container width is ~same width as right column */
    float: left; /* left side of inner-container */
    margin: 0; /* keep flush with adjacent containers */
    padding: .1em 0 0 1%; /* space from window edge (IE messes up with margin, so use padding) */
    font-size: 80%;
}
/* center column */
.content-center {
    width: 68%; /* % of inner-container width */
    float: right; /* right side of inner-container */
    padding: .2em 1%; /* some padding for readability */
    margin: 0; /* keep flush with adjacent containers */
    /*border-color: #999;      /* W3C CSS validation service get an erroneous */
    /*border-style: solid;     /*   parse error on border-right shorthand, */
    /*border-width: 0 1px;     /*   but not on individual properties */
    font-size: 85%;
}
/* full width content */
.content-full {
    width: 96%; /* % of inner-container width */
    padding: 1em 2%; /* some padding for readability */
    margin: 0; /* keep flush with adjacent containers */
    font-size: 85%;
}
/* container for the 3 columns */
.outer-container {
    width: 100%; /* full window width */
    margin: 0; /* keep flush with adjacent containers */
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
/* container for just the left and center columns */
.inner-container {
    width: 98%; /* leaves 20% of window width for right column */
    float: left; /* left side of window */
    margin: 0; /* keep flush with adjacent containers */
}
/* right column */
.sidebar {
    width: 15%; /* a little less than available 17% */
    float: right; /* right side of window */
    margin: 0; /* keep flush with adjacent containers */
    padding: .1em 1% .1em 0; /* some space from right window edge */
    font-size: 85%;
    background-color: #C0C0FF;
}
